// Mixins Here

.custombutton(@w: 150px, @h: 40px, @c: darkgray, @fs: 1.6rem){
    width: @w;
    height:@ht;
    color: @c;
    font-size: @fs;
    padding: 2%;
    margin: 2%;
}

.nava(){
    color: @nav-font;
    text-decoration: none;
}